  
# ---------------------------
#       DJANGO SETTINGS
#            base
# ---------------------------
#Choose either 'development' or 'production'
DJANGO_SETTINGS_MODULE=app.settings.development
DJANGO_SECRET_KEY=your-django-secret-key

# ---------------------------
#       DJANGO SETTINGS
#        production
# ---------------------------
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,www.mydomain.com
DJANGO_ADMIN_URL=path/to/admin


# ---------------------------
#       DJANGO SETTINGS
#         database
# ---------------------------
#Example with cloud instance Database
DATABASE_URL=postgres://YourUserName:YourPassword@YourHost:5432/YourDatabase

#Example with SQLite
DATABASE_URL=sqlite://app/db.sqlite3