{% extends 'base.html' %}


{% block content %}

<div class="container">
    <br>
        <h1>{{greeting}} {{computername}}!</h1>
    <p>The purpose of this app is for you to use it as a template to keep building a web Django app. </p>
    <p>Please take a look at the README file to see how I set this project template.</p>
    <br>
    <h5>Tips:</h5>
    <ol>
        <li>If you don't have experience with Django, the best way to start is by reading the <a href="https://www.djangoproject.com/" target="_blank">official documentation</a>. </li>
        <li>Understand Python 3 or you will struggle.</li>
        <li>Django uses a lot of classes, you must have experience with OOP</li>
        <li>If you want to use Django as your backend and frontend, you must understand <a href="https://developer.mozilla.org/en-US/docs/Learn/Forms" target="_blank">web forms</a> </li>
        <li>If you want to use Django as your backend and React, Angular, or Vue as your front-end, you need to build your django app as a <a href="https://www.django-rest-framework.org/" target="_blank">RESTful service</a> </li>
        <li>Understand how to build a relational database. Django and its Object Relational Mapper relies on using a Relational Database</li>
        <li>If you do try to use Django, without understanding how it works you will waste hours</li>
    </ol>  
</div>

{% endblock %}